

#title{
    font-family: url("./ARIALI.ttf");
    font-size: 75px;
    margin-left: 4%;
    margin-top: 2%;
}



#pic1{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 0;
	z-index: 6;
	animation-name: img_float;
	animation-duration: 15s;
}

#pic2{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 0;
	animation-name: img_float;
	animation-duration: 16s;	
}

#pic3{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 20%;
	z-index: 6;
	animation-name: img_float;
	animation-duration: 15s;
}
#pic4{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 20%;
	animation-name: img_float;
	animation-duration: 16s;	
}
#pic5{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 40%;
	z-index: 6;
	animation-name: img_float;
	animation-duration: 15s;
}
#pic6{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 40%;
	animation-name: img_float;
	animation-duration: 16s;	
}
#pic7{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 60%;
	z-index: 6;
	animation-name: img_float;
	animation-duration: 15s;
}
#pic8{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 60%;
	animation-name: img_float;
	animation-duration: 16s;	
}
#pic9{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 80%;
	z-index: 6;
	animation-name: img_float;
	animation-duration: 15s;	

}
#pic10{
	width: 20%;
	height: auto;
	position: absolute;
	top: 57.5%;
	right: 80%;
	animation-name: img_float;
	animation-duration: 16s;	
}


.picfront:hover{
    opacity: 0;
}

.picback{
    height: 300px;
    width: auto;
    position: relative;
    top: 0%;
    z-index: 2;
}


p{
	height: 50px;
	color: chartreuse;
	font-size: 40px;
	overflow: hidden;
	z-index: 2;
}

@keyframes typing {
    	from { width: 0; }
    	to { width: 1000px; }
}

.typing_n {
	width: 0;
	animation-name: typing;
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-delay: 0.5s;
	animation-timing-function: steps(32, end);
    	font-family: Lucida Console;
    	word-break: break-all;
}


.typing_what {
	width: 0;
	animation-name: typing;
	animation-fill-mode: forwards;
	animation-duration: 2.5s;
	animation-delay: 3s;
	animation-timing-function: steps(25, end);
    	font-family: Lucida Console;
    	word-break: break-all;
}

.typing_there {
	width: 0;
	animation-name: typing;
	animation-fill-mode: forwards;
	animation-duration: 3.5s;
	animation-delay: 6s;
	animation-timing-function: steps(15, end);
    	font-family: Lucida Console;
    	word-break: break-all;
}

.typing_except {
	width: 0;
	animation-name: typing;
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-delay: 5s;
	animation-timing-function: steps(9, end);
    	font-family: Lucida Console;
    	word-break: break-all;
}

.typing_aboutus {
	width: 0;
	height: 120px;
	font-size: 100px;
	animation-name: typing;
	animation-fill-mode: forwards;
	animation-duration: 3s;
	animation-delay: 9s;
	animation-timing-function: steps(12, end);
    	font-family: Lucida Console;
    	word-break: break-all;
}

.typing_careful {
	width: 0;
	animation-name: typing;
	animation-fill-mode: forwards;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-timing-function: steps(37, end);
    	font-family: Lucida Console;
    	word-break: break-all;
}

.typing_watch {
	width: 0;
	animation-name: typing;
	animation-fill-mode: forwards;
	animation-duration: 5s;
	animation-delay: 4s;
	animation-timing-function: steps(54, end);
    	font-family: Lucida Console;
    	word-break: break-all;
}

#open_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: black;
	animation-name: bg_im;
	animation-duration: 14s;
	animation-fill-mode: forwards;
	display: flex;
 	justify-content: center;
 	align-items: center;
	z-index: 3;
}
@keyframes bg_im{
	0% { opacity: 1;}
	95% { opacity: 1;}
	100% {
		opacity: 0;
	}
}

#imgs{
	animation-name: img_float;
	animation-duration: 16s;
}

@keyframes img_float{
	0% { 
		opacity: 0;
	}

	95% { 
		opacity: 0;
	}
}

#show{
	width: 60%;
	height: 60%;
	opacity: 0.3;
	right: 2%;
	top: 0%;
	position:fixed;
	z-index: 20;
}
.slideup{
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: 0px;
	z-index: 21;
	animation-name: float;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.slide{
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: 0px;
	opacity: 0.3;
	z-index: 21;
}
#name{
	height: 80px;
	font-size: 60px;
	font-family: Arial Bold;
	color: black;
	transition-duration: 0.5s;
}
#content{
	height: 200px;
	font-family: gadugi;
	font-size: 30px;
	color: black;
	display: inline;
}
@keyframes float{
	0%{
		height: 60%;
		opacity: 0;
	}
	100%{
		height: 85%;
		opacity: 1;
	}
}

@font-face {
	font-family: 'gadugi';
	src: local('Arial'),
	  url('gadugi.ttf');
  }
